
.x-panel-header .fa{
    font-size               : .7em!important;
}

/*move FontAwesome icon styles to :before pseudo */
.fa:before {
    display                 : inline-block;
    font                    : normal normal normal 14px/1 FontAwesome;
    font-size               : inherit;
    text-rendering          : auto;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;

    margin-right            : 8px;
    font-size               : 1.3em;
    line-height             : 1em;
    position                : relative;
    top                     : 1px;
}


.sch-event {
    transition : opacity 0.4s, box-shadow 0.4s;
    /*opacity    : .5;*/
}

.highlighting .sch-event {
    opacity : 0.2;
}

.highlighting .sch-event.match {
    opacity    : 1;
    box-shadow : 0 0 8px red;
}

.sch-event-inner {
    font    : inherit;
    padding : 8px;
}

.sch-event-selected {
    opacity    : 1;
    box-shadow : 0 0 8px red;
    border: 2px solid black;
}
.sch-event-hover{

    opacity    : 1;
    box-shadow : 0 0 8px red;
}

.paciente{
    /*border:2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    padding-left: 2px;*/
}
.p1{
    background-color: #a0c409 !important ;color: #000; 
}
.p2{background-color: #f00 !important; color: #fff; }

/*
.x-tip{
    height: 500px!important;
}*/
/*Referente ao tooltip*/
.card .fa-heartbeat {
    color: #ff8080;
}
.card p, .card i {
    line-height: normal;
}

.card li {
    margin-left: 5px
}

.verticalLine { border-left: 3px dashed rgba(255, 0, 0, 0.5)!important; z-index:999999  }