<%- contentFor('body') %>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>

<h1>Tempo do Paciente no Hospital</h1>

<div class="row">
    <div class="col s12">
            <div class="col s4">
                    <input placeholder="Paciente" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">   
                </div>
                <div class="col s4">
                    <br />
                    <button class="btn"> Buscar </button>
                </div>
    </div>
    
</div>
<br />
<br />
  



<table>
    <tr>
      <th>Procedimento</th>
      <th>Hora de Entrada</th>
      <th>Hora de Saída</th>
      <th>Total (Tempo)</th>
    </tr>
    <tr>
        <td>Exame de sangue</td>
        <td>12-06-2018 10:20:00</td>
        <td>12-06-2018 20:20:00</td>
        <td>(Horas) 10:00:00</td>
    </tr>
    <tr>
        <td>Exame de sangue</td>
        <td>12-06-2018 10:20:00</td>
        <td>12-06-2018 20:20:00</td>
        <td>(Horas) 10:00:00</td>
    </tr>
    <tr>
        <td>Exame de sangue</td>
        <td>12-06-2018 10:20:00</td>
        <td>12-06-2018 20:20:00</td>
        <td>(Horas) 10:00:00</td>
    </tr>
    <tr>
        <td>Exame de sangue</td>
        <td>12-06-2018 10:20:00</td>
        <td>12-06-2018 20:20:00</td>
        <td>(Horas) 10:00:00</td>
    </tr>
    <tr>
        <td>Exame de sangue</td>
        <td>12-06-2018 10:20:00</td>
        <td>12-06-2018 20:20:00</td>
        <td>(Horas) 10:00:00</td>
    </tr>
    <tr>
        <td>Exame de sangue</td>
        <td>12-06-2018 10:20:00</td>
        <td>12-06-2018 20:20:00</td>
        <td>(Horas) 10:00:00</td>
    </tr>
    <tr>
        <td>Exame de sangue</td>
        <td>12-06-2018 10:20:00</td>
        <td>12-06-2018 20:20:00</td>
        <td>(Horas) 10:00:00</td>
    </tr>
  </table>
