<!DOCTYPE html>

<html>
<head>
<title>Ocorrências</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../../layout/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 

    <div class="fl_left">
      <ul class="nospace">
        <li> Hospital e CROSS</li>
      </ul>
    </div>
    <div class="fl_right">
     
    </div>
  </div>
</div>

<div class="bgded overlay" style="background-image:url('layout/01.jpeg');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1><a>Ocorrências</a></h1>
      </div>
    </header>
  </div>

  <div id="pageintro" class="hoc clear"> 
  
  </div>

</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 
  
    <article class="one_third first left" id="ocorrencia_1">
      <div>
      <h4 class="font-x2 font-x3">Ocorrência 1</h4>
      <p id="vitima">Vítima: X</p>
      <p id="especialidade">Especialidade: Ortopedia e Traumatologia</p>
      <p id="hospital">Hospital: Hc</p>
      <p id="area">Área Corporal Atingida: Cabeça</p>
      <p id="gravidade">Gravidade: Emergência</p>
      <div>
    </article>
    <article class="one_third center" id="ocorrencia_2">
      <div style="text-align: left;">
      <h4 class="font-x2 font-x3">Ocorrência 2</h4>
      <p id="vitima">Vítima: X</p>
      <p id="especialidade">Especialidade: Ortopedia e Traumatologia</p>
      <p id="hospital">Hospital: Hc</p>
      <p id="area">Área Corporal Atingida: Cabeça</p>
      <p id="gravidade">Gravidade: Emergência</p>
      </div>
    </article>
    <article class="one_third right" id="ocorrencia_3">
      <div style="text-align: left;">
      <h4 class="font-x2 font-x3">Ocorrência 3</h4>
      <p id="vitima">Vítima: X</p>
      <p id="especialidade">Especialidade: Ortopedia e Traumatologia</p>
      <p id="hospital">Hospital: Hc</p>
      <p id="area">Área Corporal Atingida: Cabeça</p>
      <p id="gravidade">Gravidade: Emergência</p>
    </div>
    </article>
   
    <div class="clear"></div>
  </main>
</div>
</div>
</body>
 <script src="/socket.io/socket.io.js"></script>
     <script>
       
        // Para inserir os dados na ocorrencia 1  
         var ocorrencia_1 = document.getElementById('ocorrencia_1').childNodes;
         ocorrencia_1[1].childNodes[3].innerText = "Vítima: ABC "
         ocorrencia_1[1].childNodes[4].innerText = "Especialidade: Clínica Médica"
         ocorrencia_1[1].childNodes[5].innerText = "Hospital: ABC"
         ocorrencia_1[1].childNodes[6].innerText = "Area: Cabeça"
         ocorrencia_1[1].childNodes[7].innerText = "Gravidade: Emergência"

        var socket = io();

       socket.on('toClient', function (message) {
         var messages = document.getElementById('messages');
         messages.innerHTML += message + '<br/>';
       });

       var send = function() {
         var message = document.getElementById('message');
         socket.emit('toServer', message.value);
       };

     </script>
</html>


